body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 250, 244);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5%;
    color:rgb(30, 206, 118) ;
    font-weight: bolder;
 }
 h1{
     color: darkviolet;
 }
 #messageEl{
     color: goldenrod;
     font-style: italic;
 }
 button{
     color: rgb(231, 171, 19);
    background-color: rgb(169, 33, 228);
    border: 0cm solid;
    border-radius: 50px;
     width: 120px;
     height: 36px ;
     margin: 0 2% 0 2%;
     font-weight: bolder;
 }
